/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  background-color:black;
}
 html,
      body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
.headding {

  background-image: linear-gradient(to bottom right, red, gold);
  font-size: 35px;
  padding:5px;
  color: white;
  height: 40px;
  width:100%;
  text-align: center;

}





  color:white;
  text-align:center;
}

h2 {
  font-style: bold;
  color: #373fff;
}

.a{
  max-width: auto;
  max-height:auto;
  box-sizing:border-box;
  position: relative;
  background: linear-gradient(to right, red, gold);
  padding: 5px;
  text-align:center;
  display:inline-block;
  border-radius:10px;


}
.b{
  background: #222;
  color: white;
  padding: 2rem;
  display:inline-block;
}
.button{
  background-color:#0000FF;
  border:none;
  color:white;
  text-align:center;
  text-decoration:none;
  border-radius:50%;
  font-size: 16px;
  align:center;
  margin-top:5px;
}
.button:hover {
  background-color: #008080;
  color: white;
}

#box{
  margin: 0;
  position:absolute;
 top: 28%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#btn{
  margin: 0;
  position: absolute;
  top: 48%;
  left:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
h3{
  color:#48D1CC;
}

