<html>
  <head>
   <style>
     #headding{
       background-color:black;
       color:#00CED1;
       width:100%;
       
       
      }
     body {
     font-family: helvetica, arial, sans-serif;
     margin-left:10px;
       margin-right:10px;
       margin-top:0;
     background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);
    
     border-collapse:separate;
 
}
     p{
      font-size:18px;
      border-collapse:separate;

}
  </style>
  </head>
<body >
<h1 id="headding" style="margin:0;height:50px;"><b><center>ABOUT</center></b></h1>

<p>
  We live in the world where time is everthing.Time has much more value today than ever before.A countdown timer is used to create a sense of urgency and to persuade a customer to take immediate action.By giving the immpression of scarcity and setting a deadline for your customers,they are more likely to complete their action.</p>
  <h2>Here are some of the major advantages of timer:</h2>
  <ul>
       
  
    <li><h3><u>Instill a sense of urgency</u></h3></li>
<p>Countdown clocks create a sense of urgency. Marketers understand this and use it to make people buy the products or services they are selling. They will put a countdown clock next to the price of their product or service to make people try to buy what they are offering before they miss out on the limited offer.

 This sense of urgency can also benefit those people who want to complete a certain project or task. Using a countdown clock when undertaking a certain project or task will force you to focus on the task at hand.

 The clock will make you less distracted hence making you more productive. Ultimately, you will complete your project or task on time or even earlier than you thought.</p>
  <li><h3><u>Countdown Clocks Can Motivate You to Do Something</u></h3></li>
<p>A countdown clock can motivate you to do something important faster or quicker as it tells you the time left to do that thing. For instance, when you see that you only have one hour to complete a certain task, you will be motivated to try and beat the clock and get the task completed on time.

The motivation coupled with the sense of urgency can make you unstoppable when it comes to completing a particular task. If you complete a task before time runs out on the countdown clock, you will be motivated to complete other tasks since you will feel accomplished.

Do you feel like you have a lot of time to complete a certain task and you cannot start doing it right away? If so, considering creating a countdown clock to make you feel motivated to complete the task and do other important activities instead of having to rush to beat the deadline.

  As you can see, countdown clocks are very important and can be beneficial to everyone.  </p>
  </ul>
<h2><center><i>"You can buy everthing with your money but not time"</i></center></h2>
</body>
</html>

