<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hello!</title>
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    
    
    <!-- import the webpage's javascript file -->
    <script src="/static/scripts/index.js" defer></script>
  </head>  
  <body>
    
   
  <header class="headding" >
    <b> COUNTIMER</b>
     <!--<a href="timer.html">Visit W3Schools.com!</a>--> 
   </header>
  
 <div id="box">
    <div class="a"><div class="b">
        <h2>TIMER</h2>
     <div class="content">
    	<div class="counter"></div>
    	<input id="seconds" type="number" placeholder="Minutes...">
    	<div class="buttons">
    		<button class="btn start" id="start" value="1" onclick="check(this)">Start</button>
    		<button class="btn start" id="continue" value="1" onclick="check(this)">Continue</button>
    		<button class="btn stop" id="pause" value="2" onclick="check(this)">pause</button>
        <button class="btn stop" id="stop" value="0" onclick="check(this)">Stop</button>
    		<button class="btn start" id="submit" onclick="subm()">Submit</button>
        <button class="btn start" id="rese" onclick="rese()">Reset</button>
    	</div>
    <script type="text/javascript" src="script.js"></script>
  </div>
      <h3 contenteditable="true" placeholder="Minutes..." style="border:2px solid blue;background-color:#A9A9A9;color:purple">TASK NAME HERE</h3>
      </div>
   </div>
    </div>

            

   
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/script.js" defer></script>
  </body>
</html>
